/* styles for the main content */
.catalog__ul {
    display: flex;
    margin: 0 -10px -20px -10px;
    flex-wrap: wrap;
}
.catalog__li {
    position: relative;
    margin: 0 10px 20px 10px;
    width: 280px;
}
.catalog__li:nth-child(3) {
    margin-right: 205px;
}
.catalog__li:nth-child(4) {
    margin-left: 210px;
}
.Description {
    margin: 59px 200px;
    width: 645px;
    margin-bottom: 53px;
}
.Description_title {
    margin-bottom: 25px;
    text-transform: uppercase;
}
.Description_text {
    margin-top: 16px;
}
