/* styles for the "banner" */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.banner{
    margin-top: 130px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 44px;
       -moz-column-gap: 44px;
            column-gap: 44px;
    background: #eee4db;
}
.digits {
    margin-left: 28px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    font-size: 60px;
    line-height: 74px;
    color: rgba(30, 6, 6, 0.06);
}
.digits__ul {
    margin-left: 31px;
}
.btn__1 {
    width: 32px;
    height: 4px;
    background: rgba(30, 6, 6, 0.6);
    border: none;
    cursor: pointer;
}
.btn {
    width: 32px;
    height: 4px;
    background: #D6CAC2;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: rgba(30, 6, 6, 0.6);
}
.slide__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    max-width: 307px;
    margin: 89px 0 89px 0;
}
.title {
    margin-top: -14px;
}
.title_text {
    margin-top: -20px;
}
.title_img {
   position: absolute;
   width: 636px;
   height: 444px;
   left: 450px;
    top: -84px;
}
.title__offer {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #C29974;
}


/* styles for "category products" */
.category_products {
    margin-top: 90px;
}
.products__title {
    margin-bottom: 30px;
}
.products__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.products__li {
   position: relative;
   margin-right: 20px;
}
.bts-text__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}
.direction__btn {
    margin-right: 6px;
    background-image: url(../static/icons/vector_to_the_left.svg);
    width: 36px;
    height: 37px;
    background-color: rgba(112, 187, 220, 0.2);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}
.direction__btn1 {
    background-image: url(../static/icons/vector_to_the_right.svg);
    width: 36px;
    height: 37px;
    background-color: rgba(112, 187, 220, 0.2);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}
.products__text {
    margin-left: 20px;
    max-width: 580px;
}


/* styles for "delivery"" */
.delivery {
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
}
.delivery__wrapper {
    width: 540px;
}
.delivery__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.delivery__title {
    margin-bottom: 6px;
}
.delivery__text {
    display: inline-block;
    background-color: #70BBDC33;
    padding: 11px 178px 10px 60px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.delivery__text1 {
    margin-top: 11px;
}
.delivery__text2 {
    margin-top: 22px;
}
.delivery__text3 {
    margin-top: 30px;
}
.delivery__text4 {
    margin-top: 15px;
    margin-bottom: 26px;
}
.shift {
    margin-left: 60px;
}


/* styles for "company" */
.company {
    margin-top: 90px;
}
.compani__title {
    display: none;
}
.company__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.company__item {
    opacity: 0.8;
    width: 216px;
}


/* styles for "About Us" */
.adress__map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 90px;
}
.about__wrapper {
    background: #E1F0F7;
    width: 543px;
    height: 228px;
    padding-left: 30px;
}
.about__wrapper1 {
    background: #E1F0F7;
    width: 543px;
    height: 210px;
    padding-left: 30px;
}
.about__title {
    margin-top: -24px;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
}
.about__text1 {
    margin-top: 10px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
}
.about__text {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 483px;
}
.about__text2 {
    margin-top: 20px;
    width: 483px;
}
.map {
    width: 483px;
    height: 200px;
    margin-top: 30px;
}


/* styles for footer */
.footer {
    height: 555px;
    background: #434343;
    margin-top: 150px;
}
.footer__wrap {
    display: flex;
    justify-content: space-between;
}
.footer__sect {
   margin-top: 100px;
}
.footer__title {
    color: #AAAAAA;
    margin-bottom: 52px;
    border-bottom: 1px solid #666666;
    padding-bottom: 23px;
}
.footer__ul {
    width: 345px;
}
.footer__li {
    margin-top: 15px;
}
.footer__link {
    color: #FFFFFF;
}
.footer__link:hover {
    opacity: 0.5;
}
.footer__link:active {
    opacity: 0.2;
}
.cnt-form__wrap {
  display: flex;
}
.cnt-form__input {
    border: 0;
    width: 365px;
    height: 40px;
    padding-left: 15px;
    background-color: #666666;
    color: #FFFDFD;
}
.cnt-form__input::-webkit-input-placeholder {
    color: #EBEBEB;
}
.cnt-form__input:hover {
    outline: none;
    border: 1px solid #FFFDFD;
}
.cnt-form__input:focus {
    outline: none;
    border: 1px solid #FFFDFD;
}
.connect__ul {
    display: flex;
    margin-top: 25px;
}
.connect__li {
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    background: #666666;
    border-radius: 15px;
}
.connect__img:hover {
    opacity: 0.5;
}
.connect__img:active {
    opacity: 0.2;
}
.upper__line {
    border-top: 1px solid #666666;
    padding-top: 23px;
}
.bottom-row__wrap {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
}
.b-r__link {
    color: #A2A2A2;
}
.b-r__link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.b-r__text {
    color: #FFFFFF;
}


/* style for a star rating */
.rating-area {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.rating__input {
    position: relative;
}
.rating__label {
}
.rating-area:not(:checked) > .rating__input {
	display: none;
}
.rating-area:not(:checked) > .rating__label {
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: #FFFFFF;
}
.rating-area:not(:checked) > .rating__label:before {
	content: url(../static/icons/star.svg);
    padding-right: 3px;
}
.rating-area:not(:checked) > .rating__label:before:hover {
	content: url(../static/icons/star_hover.svg);
}
.rating-area > .rating__input:checked ~ .rating__label {
    background-image: url(../static/icons/star_hover.svg);
    background-repeat: no-repeat;
    text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > la.rating__labelbel:hover,
.rating-area:not(:checked) > .rating__label:hover ~ .rating__label {
    background-image: url(../static/icons/star_hover.svg);
    background-repeat: no-repeat;
	color: gold;
}
.rating-area > .rating__input:checked + .rating__label:hover,
.rating-area > .rating__input:checked + .rating__label:hover ~ .rating__label,
.rating-area > .rating__input:checked ~ .rating__label:hover,
.rating-area > .rating__input:checked ~ .rating__label:hover ~ .rating__label,
.rating-area > .rating__input:hover ~ .rating__input:checked ~ .rating__label {
    background-image: url(../static/icons/star_hover.svg);
    background-repeat: no-repeat;
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > .rating__label:active {
	position: relative;
}
.rating__text {
    color: #FFFFFF;
    margin-right: 25px;
}


/* styles for pop-up */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background: rgba(125, 151, 218, 0.8);
    z-index: 2;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.popup__wrap {
    position: relative;
}
.popup__cross {
    position: absolute;
    left: 688px;
    background: none;
    border: none;
    background-image: url(../static/icons/closing_cross.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.popup__cross:hover {
   opacity: 0.7;

}
.popup__cross:active {
    opacity: 0.4;
}
.popup-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.popup__title {
    display: none;
}