
.back__background {
    height: 254px;
    background: rgba(125, 151, 218, 0.2);
    margin-bottom: 60px;
}
.t-inputs__wrap {
    display: flex;
}
.fieldset__wrap {
    border: none;
}
.input__black {
    position: absolute; 
    z-index: -1; 
    opacity: 0; 
}
.t-c__ul {
    display: flex;
    flex-wrap: wrap;
}
.t-c__li {
    position: relative;
    margin-bottom: 45px;
}
.t-c__link::before {
    content: 'learn more';
    text-transform: uppercase;
    padding-top: 88px;
    color: #1E0606;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    background: #E5EAF8;
    opacity: 0;
    width: 207px;
    height: 207px;
    position: absolute;
    top: 40%;
    left: 49%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}
.t-c__link:hover::before {
    opacity: 0.9;
}
.t-c__link:active::before {
    opacity: 0.67;
}
.t-c__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
.t-c__text1 {
    margin-top: 15px;
    text-align: center;
}